// // Global 영역
// .c-font {
// 	&-1 {
// 		font-family: Helvetica, arial;
// 	}
// }

// .c-bold {
// 	font-weight: bold;
// }

// .c-font_size {
// 	&-16 {
// 		font-size: 16px;
// 	}
// }

// .c-color {
// 	&-1 {
// 		color: rgb(153, 0, 0);
// 	}
// 	&-2 {
// 		color: rgb(86, 158, 61);
// 	}
// 	&-3 {
// 		color: rgb(255, 255, 255);
// 	}
// }

// // local 영역
// .button {
// 	&._style-1 {
// 		display: inline-block;
// 		border-radius: 3px;
// 		padding: 7px 12px;
// 		border-width: 1px;
// 		border-style: solid;
// 		font-size: 12px;
// 		font-weight: bold;
// 	}
	
// 	&._state-2 {
// 		background-color: rgb(86, 158, 61);
// 		background-image:linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61));
// 		background-repeat: repeat-x;
// 		border-color: rgb(74, 153, 62);
// 	}
	
// 	&._state-1 {
// 		background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221));
// 		border-color: rgb(213, 213, 213);
// 	}
// }

.button {
	&._style-1 {
		display: inline-block;
		border-radius: 3px;
		padding: 7px 12px;
		border-width: 1px;
		border-style: solid;
		font: 700 13px/18px Helvetica, arial;
	}
	
	&._state-2 {
		background-color: rgb(86, 158, 61);
		background-image:linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61));
		background-repeat: repeat-x;
		border-color: rgb(74, 153, 62);
	}
	
	&._state-1 {
		background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221));
		border-color: rgb(213, 213, 213);
	}
	
	&._color-1 {
		color: rgb(153, 0, 0);
	}
	&._color-2 {
		color: rgb(255, 255, 255);
	}
}