.button._style-1 {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border-width: 1px;
  border-style: solid;
  font: 700 13px/18px Helvetica, arial;
}
.button._state-2 {
  background-color: #569e3d;
  background-image: linear-gradient(#79d858, #569e3d);
  background-repeat: repeat-x;
  border-color: #4a993e;
}
.button._state-1 {
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-color: #d5d5d5;
}
.button._color-1 {
  color: #990000;
}
.button._color-2 {
  color: white;
}
/*# sourceMappingURL=style.css.map */
